############################
# Database - postgreSQL 16 #
############################
POSTGRES_DB="appdb"
POSTGRES_USER="appuser"
POSTGRES_PASSWORD="apppass"

###############
# Keycloak-db #
###############
POSTGRES_DB="keycloak"
POSTGRES_USER="keycloak"
POSTGRES_PASSWORD="keycloakpass"

############
# Keycloak #
############
KC_DB="postgres"
KC_DB_URL="jdbc=postgresql://keycloak-db:5432/keycloak"
KC_DB_USERNAME="keycloak"
KC_DB_PASSWORD="keycloakpass"
KEYCLOAK_ADMIN="admin"
KEYCLOAK_ADMIN_PASSWORD="admin"
KC_HOSTNAME_STRICT="false"
KC_HTTP_ENABLED="true"

####################
# API - Sping Boot #
####################
SPRING_PROFILES_ACTIVE="docker"
SPRING_DATASOURCE_URL="jdbc:postgresql://db:5432/appdb"
SPRING_DATASOURCE_USERNAME="appuser"
SPRING_DATASOURCE_PASSWORD="apppass"
SPRING_SECURITY_OAUTH2_RESOURCESERVER_JWT_ISSUER_URI="http://keycloak:8080/realms/app"

######################
# Frontend - Next.js #
######################
NEXT_PUBLIC_API_BASE_URL="http://localhost:8080"
NEXT_PUBLIC_KEYCLOAK_ISSUER="http://localhost:8081/realms/app"
NEXT_PUBLIC_KEYCLOAK_CLIENT_ID="nextjs"